/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16-Sep-2016, 21:33:44
    Author     : home
*/

* { 
	margin: 0;
	padding: 0;
}
body {
	background-color:#FFFFFF;
	font-family: Verdana, Geneva, sans-serif;
	font-weight: 200;
}
h1 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 2em;
	font-weight: 200;
	margin: 0 0 20px;
	text-align: center;
}
hr {
	margin-top:15px;
	margin-bottom:15px;
	border-top: 1px solid #000000;
	border-bottom: 1px solid #000000;
	clear: both;
}
.wrapper {
	width: 100%;
	padding-top:20px;
	padding-bottom:20px;
}
.container {
	width: 1024px;
	margin: 0 auto;
}
ul.image-container {
	list-style: none;
	margin-left: -2.5%;
}
ul.image-container li {
	display: inline-block;
	padding: 10px;
	background: #fff;
	border: 1px solid #ccc;
	font-size: 15px;
	margin: 0 0 2.5% 2.5%;
	vertical-align: top;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
ul.image-container li img {
	max-width: 100%;
	margin: 0 0 10px;
	height: auto;
}
ul.image-container li p {
	color: #666;
	font-size: 1em;
	line-height: 1.5em;
}
ul.image-container li {
	width: 30.83%; 
}

@media (max-width: 1023px) {
	.container {
		width: auto;
		padding: 0 10px;
	}
}

@media (max-width: 480px) {
	ul.image-container {
		margin-left: 0;
	}
	ul.image-container li {
		width: 100% !important;
		margin: 0 0 25px;
	}
}
